@{ 
    var model_books = Model;
}

<h3>List of Books</h3>

<div>
    <a href="@Url.Action("Add")">Add new Book</a>
</div>


<table>
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Idioma</th>
            <th>Origem</th>
            <th>ISBN</th>
            <th>Ano</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var books in model_books)
        {
            <tr id="cod-@books.Id">
                <td>@books.Titulo</td>
                <td>@books.Nome @books.SobreNome</td>
                <td>@books.Idioma</td>
                <td>@books.Origem</td>
                <td>@books.Isbn</td>
                <td>@books.Ano</td>
                <td>
                    <a href="@Url.Action("Add")/@books.Id">Edit</a>
                    <button onclick="DeleteBook(@books.Id,'@books.Titulo')">Del</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- UTILIZANDO AJAX PARA REALIZAR A VERIFICAO PARA APAGAR UM DADO -->

<script>
    function DeleteBook(id, titulo) {
        let yes = confirm(`Are you sure you want to delete the book ${titulo} ?`)
        if (yes) {
            ConfirmDelBook(id)
        }
    }

    function ConfirmDelBook(id) {
        
        let xhr = new XMLHttpRequest()
        const url = `/Books/Del/${id}`
        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 404) {
                alert('The bot doesnt exist !')
            }
            if (this.readyState === 4 && this.status === 200) {
                //REMOVENDO DO HTML
                let tr = document.querySelector(`#cod-${id}`)
                if (tr !== null) {
                    tr.remove()
                }
                alert('The book is removed with sucess')
            }

        }
        xhr.open('get', url)
        xhr.send()
    }

</script>