<!-- UTILIZANDO A CLASSE MODEL PARA AJUDAR -->
@model BookStore.Ui.Models.Book

@{
    if (Model.Id == 0)
    {
        ViewBag.titulo = "Adicionar";
        ViewBag.Title = "Add";
    }
    else
    {
        ViewBag.titulo = "Editar";
        ViewBag.Title = "Edit";
    }


}

<h3>@ViewBag.titulo book </h3>

<div class="mx-sm-5">
    <form method="post">
        <div class="form-group row mx-sm-5">
            <label for="txtTitulo">Title</label>
            <!-- UTILIZANDO O TEXTBOXFOR PARA UTILIZAR UMA PROPRIEDADE DATA DELE -->
            @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control", autofocus = "" })

            <!-- FORNECENDO UMA MENSAGEM DE ERRO PARA O USUARIO -->
            <small>
                @Html.ValidationMessageFor(modelo => modelo.Titulo, "", new { @class = "text-danger" })
            </small>
        </div>

        <div class="form-group row mx-sm-5">
            <label for="txtNome">Name</label>
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })

            <small>
                @Html.ValidationMessageFor(modelo => modelo.Nome, "", new { @class = "text-danger" })
            </small>
        </div>

        <div class="form-group row mx-sm-5">
            <label for="txtSobreNome">Last name</label>
            @Html.TextBoxFor(m => m.SobreNome, new { @class = "form-control" })

            <small>
                @Html.ValidationMessageFor(modelo => modelo.SobreNome, "", new { @class = "text-danger" })
            </small>
        </div>


        <div class="form-group row mx-sm-5">
            <label for="txtIdioma">Language</label>
            @Html.TextBoxFor(m => m.Idioma, new { @class = "form-control" })

            <small>
                @Html.ValidationMessageFor(modelo => modelo.Idioma, ""  , new { @class = "text-danger" })
            </small>
        </div>

        <!-- FAZENDO UM SELECT PARA MOSTRAR OS PAISES -->
        <div class="form-group row mx-sm-5">
            <label for="txtOrigem">Made</label>
            @Html.DropDownListFor(modelo => modelo.OrigemId, new SelectList(ViewBag.Origens, "Id", "Nome"), "Select", new { @class = "form-control" })
            <small>
                @Html.ValidationMessageFor(m => m.OrigemId, "", new { @class = "text-danger" })
            </small>

            <!-- FOI UTILIZADO OUTRA MANEIRA DE FAZER O SELECT COM O HTML HELPER -->
            @*<select name="OrigemId" class="form-control">
                    <option value="">Select</option>
                    @foreach (BookStore.Ui.Models.Origem origem in ViewBag.Origens)
                    {
                        <option  @(origem.Id == Model.OrigemId ?  "selected" : "") value="@origem.Id" > @origem.Nome </option>
                    }
                </select>*@
        </div>

        <div class="form-group row mx-sm-5">
            <label for="txtIsbn">ISBN</label>
            @Html.TextBoxFor(m => m.Isbn, new { @class = "form-control" })

            <small>
                @Html.ValidationMessageFor(modelo => modelo.Isbn, "", new { @class = "text-danger" })
            </small>
        </div>

        <div class="form-group row mx-sm-5">
            <label for="txtAno">Year</label>
            @Html.TextBoxFor(m => m.Ano, new { @class = "form-control" })

            <small>
                @Html.ValidationMessageFor(modelo => modelo.Ano, "", new { @class = "text-danger" })
            </small>
        </div>

        <br />

        <div class="form-group row justify-content-center">
            <button class="btn btn-primary">Adicionar</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/validator.js"></script>
}

